@model Intropix_Movies.Models.Views_List

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Views_List</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.movie_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.movie_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
