@model IEnumerable<Intropix_Movies.Models.Studio>

@{
    ViewData["Title"] = "Index";
}

<h2>Studios List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Studios" asp-action="Index" method="get">
    <p>
        <h1>Search A Studio</h1>
        Name: <input type="text" name="studioName">
        <br />
        
    Location: <input type="text" name="location" />
    <br />
    Description: <input type="text" name="Description" />
    <br />
        
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year_of_foundation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year_of_foundation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
